body {
  width: 100%;
  margin: auto;
  background-color: #1B1B1B;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-contents {
  background-color: #1B1B1B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: 'Nunito', sans-serif;
}

.navmenu {
  display: flex;
  flex-direction: row;
}
.navbar-brand {
  height: 75px;
  width: 75px;
}
.navbar-brand img {
  width: 75px;
  height: 75px;
}

.navmenu-item {
  margin-top: auto;
  margin-bottom: auto;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  opacity: 50%;
  margin-right: 35px;
  transition: opacity 0.5s ease;
}
.nav-link:hover {
  opacity: 80%;
  transition: opacity 0.5s ease;
}

.active-link {
  opacity: 100%;
  font-weight: 700;
}

.navright {
  display: flex;
  flex-direction: row;
}
.burger {
  margin-right: 30px;
  display: none;
}

@media screen and (max-width: 600px) {
  .navmenu div:not(.active-link) {
    display: none;
  }
  .nav-link {
    margin-right: 30px;
  }
  .burger {
    display: block;
    margin-top: 28px;
  }
}

@media screen and (max-width: 600px) {
  .navmenu.responsive {
    flex-direction: column;
    margin-top: 26px;
    margin-bottom: 20px;
  }
  .navmenu.responsive #burger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navmenu.responsive div {
    float: none;
    display: block;
    text-align: right;
    margin-bottom: 10px;
  }
}

.banner-text-group {
  margin-top: 45px;
}
.banner {
  width: 100%;
  background-color: #1B1B1B;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: row;
  overflow: hidden; 
}
.banner-propic img {
  /*width: 350px;*/
  height: 600px;
  background-color: rgba(255,255,255,0);
  margin-left: 20px;
  /*border-radius: 0 0 150px 0;*/
  object-fit: cover;
}


.banner h1 {
  font-size: 60px;
  margin: 0;
}
.banner span {
  text-decoration: underline;
}
.banner-desc {
  margin-top: 18px;
  font-size: 18px;
  font-style: italic;
}

.previewtable {
  font-family: 'Nunito', sans-serif;
  color: white;

}

.preview {
  width: 100%;
  height: 300px;
  display: flex;
}

.preview-group {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.testImg {
  width: 300px;
  height: 200px;
  background-color: white;
}

.preview-pic {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40px;
}

.preview-pic img {
  width: 300px;
  height: 200px;
}

.preview-right {
  width:100%;
  margin-top: auto;
  margin-bottom: auto;
}

.preview-desc {
  width: 450px;
  display: flex;
  flex-direction: column;

}

.preview-desc h1 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom:10px;
  margin-top:0;
}
.preview-desc span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.85);
}

#preview-ux {
  background-color: #22AE84;

}
#preview-graphic {
  background-color: #D95959;
}
#preview-animation {
  background-color: #466DB8;
}
#preview-aboutme {
  background-color: #1B1B1B;
}

.seemore-btn {
  background-color: rgba(255,255,255,0.75);
  border: none;
  border-radius: 40px;
  width: 120px;
  height: 45px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-top: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-decoration: none;
  transition: background-color 1s ease;
}

.contact-btn {
  background-color: rgba(255,255,255,0.75);
  border: none;
  border-radius: 40px;
  height: 45px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-top: 35px;
  color: #1b1b1b;
  font-size: 13px;
  display: flex;
  width: 170px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 1s ease;
}
.contact-btn img {
  margin-right: 10px;
}

@media screen and (min-width: 695px) and (max-width: 1000px) {
  .banner h1 {
    font-size: 45px;
  }
  .banner-propic img {
    height: 460px;
  }
  .banner {
    height: 460px;
  }
  .banner-text-group {
    margin-left: 45px;
  }
  .banner-desc {
    font-size: 14px;
  }
  .contact-btn {
    margin-top: 25px;
  }
}
@media screen and (min-width: 630px) and (max-width: 694px) {
  .banner h1 {
    font-size: 40px;
  }
  .banner-propic img {
    height: 400px;
  }
  .banner {
    height: 400px;
  }
  .banner-text-group {
    margin-left: 55px;
  }
  .banner-desc {
    font-size: 14px;
  }
  .contact-btn {
    margin-top: 25px;
  }
}
@media screen and (max-width: 629px) {
  .banner h1 {
    font-size: 26px;
  }
  .banner-propic img {
    height: 400px;
  }
  .banner {
    height: 400px;
  }
  .banner-text-group {
    margin-left: 55px;
    margin-right: -100px;
  }
  .banner-desc {
    font-size: 10px;
  }
  .contact-btn {
    margin-top: 25px;
  }
}

.hover-btn:hover {
  background-color: rgba(255,255,255,1.0);
  transition: background-color 1s ease;
}

@media screen and (max-width: 760px) and (min-width: 500px) {
  .preview-desc {
    width: 80%;
    margin-right: 30px;
  }
  .preview-desc h1 {
    font-size: 24px;
  }
  .preview-desc span {
    font-size: 14px;
  }

  .preview-pic img {
    width: 270px;
    height: 180px;
  }
  .preview-pic {
    margin-right: 0;
  }

}
@media screen and (max-width: 499px) {
  .preview-pic img {
    width: 200px;
    height: 150px;
  }
  .preview-desc {
    width: 80%;
    margin-right: 30px;
  }
  .preview-desc h1 {
    font-size: 19px;
  }
  .preview-desc span {
    font-size: 13px;
  }
  .preview-pic {
    margin-right: 0;
  }
  .seemore-btn {
    width: 107px;
    height: 36px;
  }
}
.page-desc {
  display: flex;

}
.page-wordgroup {
  display: flex;
  flex-direction: column;

  color: white;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 50px;
  /*width: 620px;*/
  text-align: center;
}

.page-wordgroup span {
  font-size: 18px;
  margin-bottom: 35px;
}

.page-relevant {
  color: rgba(255,255,255,0.75);
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.page-relevant-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.page-relevant-row div, .page-relevant-row a {
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgba(255,255,255,0.75);
}

.relevant-bubbles {
  border: solid;
  border-radius: 40px;
  border-width: 1.5px;
  padding: 2px 10px 2px 10px;
  font-weight: 300;
}



.page-detail-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.detail-list-item {
  background-color: white;
  width: 42%;
  height: 220px;
  border-radius: 20px;
  margin: 20px;
  color: white;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.detail-list-item-sq {
  background-color: white;
  width: 25%;
  height: 220px;
  border-radius: 20px;
  margin: 20px;
  color: white;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item-bkgd {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  height: 220px;

  filter: grayscale(100%);

}

.list-item-overlay {
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-item-overlay-sq {
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-item-overlay-sq h1 {
  margin: 0;
}

.item-overlay-shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .15));
  filter: drop-shadow( 0px 3px 2px rgba(0, 0, 0, .15));

}

#wpf-overlay {
  background-color: rgba(246, 151, 144, 1);
  transition: background-color 0.5s ease;
  font-family: 'Dongle', sans-serif;
}
#wpf-overlay:hover {
  background-color: #f4adab;
}
#velvit-overlay {
  background-color: #E6E7E8;
  transition: background-color 0.5s ease;
}
#velvit-overlay:hover {
  background-color: #ffffff;
}

#sutechso-overlay {
  background-color: #2ea372;
  font-family: 'Oswald', sans-serif;

  letter-spacing: 1px;
  transition: background-color 0.5s ease;
}
#sutechso-overlay:hover {
  background-color: #4eaf80;
}
#vit-overlay {
  background-color: rgba(102, 93, 96, 1.0);
  transition: background-color 0.5s ease;
}
#vit-overlay:hover {
  background-color: rgb(119, 113, 115);
}
#cards-overlay {
  background-color: #6e64a5;
  transition: background-color 0.5s ease;
}
#cards-overlay h1 {
  font-weight: 500;
  font-size: 24px;
  margin:0;
  line-height: 1;
}
#cards-overlay:hover {
  background-color: #857bbd;
}

#pdpsi-overlay {
  background-color: rgba(219, 49, 49);
  transition: background-color 0.5s ease;
}
#pdpsi-overlay:hover {
  background-color: rgba(226, 96, 96);
  
}
#pdpsi-overlay img {
  width: 200px;
}

#chikara-overlay {
  background-color: rgba(250, 175, 63);
  transition: background-color 0.5s ease;
}
#chikara-overlay:hover {
  background-color: rgba(247, 190, 114);
}
#chikara-overlay img {
  width: 110px;
}

#saladify-overlay {
  background-color: rgba( 34, 147, 79, 0.8);
  transition: background-color 0.5s ease;
}
#saladify-overlay:hover {
  background-color: rgba( 49, 160, 94, 1);
}

#ezcolor-overlay {
  background-color: rgba( 130, 87, 220, 0.8);
  transition: background-color 1s ease;
}
#ezcolor-overlay:hover {
  background-color: rgba( 165, 125, 249, 1);
}

#cuboaipkg-overlay {
  background-color: rgba( 115, 202, 198, 1);
  transition: background-color 1s ease;
}
#cuboaipkg-overlay:hover {
  background-color: rgba( 169, 234, 229, 1);
}

#talad-overlay {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  letter-spacing: 4px;
  text-align: center;
  background-color: rgba(66, 122, 161, 0.8);
  transition: background-color 1s ease;
}
#talad-overlay:hover {
  background-color: rgba(66, 122, 161, 1);
}



#saladify-overlay img {
  width: 65px;
}

#ezcolor-overlay img {
  height: 60px;
}

#talad-overlay img {
  height: 75px;
}

#talad-big {
  font-size: 45px;
  font-weight: 700; 
  margin-bottom: -5px;
}
#talad-small {
  font-size: 15px;
  font-weight: 200;
}

@media screen and (max-width: 650px) {
  #saladify-overlay img {
    width: 45px;
  }
  #saladify-overlay h1 {
    font-size: 25px;
  }
  #ezcolor-overlay img {
    height: 40px;
  }
  #ezcolor-overlay h1 {
    font-size: 30px;
  }
  #talad-overlay img {
    height: 45px;
  }
  #talad-overlay h1 {
    font-size: 35px;
  }
  #talad-big {
    font-size: 28px;
    font-weight: 700; 
    margin-bottom: 0px;
  }
  #talad-small {
    font-size: 8px;
    font-weight: 200;
  }
  #pdpsi-overlay img {
    width: 150px;
  }
  #chikara-overlay img {
    width: 95px;
  }
}

@media screen and (max-width: 500px) {
  .detail-list-item {
    width: 90%;
    height: 170px; 
  }
  .list-item-bkgd {
    height: 170px;
  }
  .detail-list-dud {
    height: 0;
  }
}





.detail-list-dud {
  visibility: hidden;
}

footer {
  height: 70px;
}

.add-shadow {
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 10px 0;
}


.ezcolor {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 700;
  font-size: 45px;
}


.saladify {
  font-family: "Montserrat", sans-serif;
}

.talad {
  font-family: sans-serif;
  letter-spacing: 4px;
}





.detail-heading {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  height: 285px;
  margin-bottom: 80px;

}
.detail-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.detail-brand img {
  margin-right: 10px;
}
.detail-brand-text {
  display: flex;
  flex-direction: column;
}


.detail-desc {
  display: flex;
  align-items: center;
  color: rgba(255,255,255,0.75);
  font-weight: 200;
  letter-spacing: 1px;
}

.detail-desc-date {
  border: solid 1px;
  border-radius: 25px;
  padding: 5px 12px;
  margin-right: 15px;
}

.detail-desc-caption a {
  color: rgba(255,255,255,0.75);
  text-decoration: none;
  font-weight: 400;
}


.detail-body {
 width: 100%;
 border-radius: 50px 50px 0px 0px;
 color: white;
 display: flex;
 flex-direction: column;
}



.body-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 130px;

}
.body-paragraph h1 {
  font-weight: 800;
  margin: 0;
  margin-top: 40px;
}
.body-paragraph h2 {
  margin: 0;
  margin-top: 45px;
}

.body-paragraph h3 {
  margin: 0;
  margin-top: 45px;
}

.paragraph-bg {
  margin-top: 100px;
}

.body-paragraph span {
  width: 850px;
  margin-top: 20px;
  color: rgba(255,255,255,0.8);
  font-weight: 400;
  text-align: justify;
  font-size: 18px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.body-large-img {
  display: flex;
  background-color: white;
  width: 900px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  filter:drop-shadow(0px 4px 6px rgba(0,0,0,0.2));
}
.body-large-img img {
  width: 830px;
  margin-top: 30px;
  margin-bottom: 30px;
}



.body-mobilegif {
  display: flex;
  width: 900px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.mobilegif-holder {
  width: 300px;
  display: flex;
  background-color: rgba(255,255,255,0.6);
  justify-content: center;
  border-radius: 20px;
  filter:drop-shadow(0px 3px 5px rgba(0,0,0,0.3));
}

.mobilegif-holder img {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 11px;
  width: 270px;
}

.mobilegif-steps {
  width: 600px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-group {
  display: flex;
  padding: 20px;
  padding-left: 50px;
}

.step-group h3 {
  margin: 0;
  margin-right: 10px;
}
.step-group span {
  margin-top: 0;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
}

.desktopgif-holder {
  margin-top: 10px;
  width: 900px;
  display: flex;
  background-color: rgba(255,255,255,0.6);
  justify-content: center;
  border-radius: 20px;
  filter:drop-shadow(0px 3px 5px rgba(0,0,0,0.3));
}

.desktopgif-holder img {
  width: 870px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 11px;
}

/* For clicking on UX Design pages */
@media screen and (max-width: 600px) {
  .detail-desc {
    font-size: 12px;
    flex-direction: column;
  }
  .detail-desc-caption {
    margin-top: 12px;
  }
  .detail-heading {
    margin-bottom: 50px;
  }
  .body-paragraph {
    margin-top: 80px;
  }
  .body-paragraph h1 {
    font-size: 28px;
    text-align: center;
    width: 78%;
  }
  .body-paragraph h3 {
    font-size: 20px;
    text-align: center;
    width: 78%;
  }
  .body-paragraph span {
    font-size: 15px;
    width: 75%;
  }
  .paragraph-bg {
    margin-top: 60px;
  }
  .body-large-img {
    width: 80%;
    border-radius: 15px;
  }
  .body-large-img img {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .image-link {
    display: flex;
  }
  .body-mobilegif {
    width: 80%;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .mobilegif-holder img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
  }
  .mobilegif-holder {
    width: 100%;
  }
  .mobilegif-steps {
    width: 80%;
    margin-top: 20px;
  }
  .step-group {
    padding-left: 0;
    padding: 12px;
  }
  .step-group h3 {
    text-align: left;
    width: auto;
    font-size: 17px;
    white-space: nowrap;
  }
  .step-group span {
    font-size: 14px;
    font-weight: 500;
  }
  .desktopgif-holder {
    width: 85%;
  }
  .desktopgif-holder img {
    width: 96%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
}

@media screen and (max-width: 900px) {
  .page-wordgroup {
    width: 80%;
  }
  .page-relevant {
    font-size: 12px;
    width: 100%;
  }
  .page-relevant-row {
    white-space: nowrap;
  }
}

@media screen and (max-width: 760px) {
  .page-relevant-row {
    white-space: nowrap;
    overflow: scroll;
    justify-content: left;
  } 
}

@media screen and (max-width: 600px) {
  .page-wordgroup {
    align-items: center;
  }
  .page-wordgroup h1 {
    font-size: 25px;
  }
  .page-wordgroup span {
    font-size: 14px;
    width: 80%;
  }
  .detail-list-item {
    margin: 10px;
  }
  .detail-desc-date{
    margin-right:0;
  }
  footer {
    height:24px;
  }
}

#sutechso-overlay img{ 
  height: 80px;
}
#sutechso-overlay h1 {
  margin-left:10px; 
  font-size:40px; 
  font-weight: 400;
}

#cards-overlay {
  flex-direction: row;
}

#cards-overlay img {
  width: 100px;
}
#cards-overlay h1 {
  margin-left: 10px;
}
#cards-overlay span {
  font-weight: 300; 
  font-size:18px;
}


@media screen and (max-width: 900px) {
  .detail-list-item-sq {
    width: 210px;
    margin: 10px;
  }
  #sutechso-overlay img { 
    height: 60px;
  }
  #sutechso-overlay h1 {
    margin-left:0px;
    font-size:30px;
  }

  #cards-overlay img {
    width: 70px;
  }
  #cards-overlay h1 {
    margin-left: 10px;
    font-size: 18px;
    width: 45%;
  }
  #cards-overlay span {
    font-weight: 300; 
    font-size:12px;
  }
  #pdpsi-overlay img {
    width: 180px;
  }
}

@media screen and (max-width: 460px) {
  .detail-list-item-sq {
    width: 90%;
    margin: 10px;
  }
  #sutechso-overlay img { 
    height: 60px;
  }
  #sutechso-overlay h1 {
    margin-left:0px;
    font-size:30px;
  }
  #cards-overlay {
    flex-direction:column;
  }
  #cards-overlay img {
    width: 70px;
    margin-bottom: 10px;
  }
  #cards-overlay h1 {
    margin-left: 10px;
    font-size: 18px;
    width: 45%;
    text-align: center;
  }
  #cards-overlay span {
    font-weight: 300; 
    font-size:12px;
  }
}

@media screen and (max-width: 1110px){
  #cards-overlay h1 {
    width: 45%;
  }
}

#cuboaipkg img {

}

#saladify-heading img {
  width: 120px;
  height: 120px;
}
#saladify-heading h1 {
  font-size: 45px;
}
#saladify-heading h2 {
  font-size: 20px;
}

#ezcolor-heading img {
  height: 90px;
}
#ezcolor-heading h1 {
  font-size: 75px; 
  font-weight: 900; 
  margin:0;
}

#talad-heading img {
  width: 120px;
  height: 120px;
}
#talad-heading h1 {
  font-size: 56px;
  font-weight: 700; 
  margin:0; 
  margin-bottom: -6px;
}
#talad-heading h2 {
  font-size: 20px; 
  font-weight: 200; 
  margin:0;
}


@media screen and (max-width: 500px) {
  #saladify-heading img {
    width: 90px;
  }
  #saladify-heading h1 {
    font-size: 40px;
  }
  #saladify-heading h2 {
    font-size: 17px;
  }
  .detail-desc-caption {
    width: 57%;
    text-align: center;
  }
  #ezcolor-heading img {
    height: 65px;
  }
  #ezcolor-heading h1 {
    font-size: 55px; 
    font-weight: 900; 
    margin:0;
  }
  #talad-heading img {
    width: 58px;
    height: 100px;
  }
  #talad-heading h1 {
    font-size: 40px;
    font-weight: 700; 
    margin:0; 
    margin-bottom: -6px;
  }
  #talad-heading h2 {
    font-size: 13px; 
    font-weight: 200; 
    margin:0;
  }
  #talad-desc-caption {
    width: 64%;
  }
  .detail-body {
    border-radius: 40px 40px 0px 0px;
  }
  footer {
    height:0;
  }
}

.coming-soon-notice {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.coming-soon-txtgroup {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 36px;
  text-align: center;
}
.coming-soon-txtgroup h1 {
  margin: 0;
  margin-bottom: 20px;
}
.coming-soon-txtgroup span {
  font-size: 25px;
  font-weight: 200;
}
.coming-soon-txtgroup button {
  margin-top: 40px;
  font-family: 'Nunito', sans-serif;
  border: none;
  border-radius: 40px;
  padding: 20px 50px 20px 50px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: rgba(255,255,255,0.8);
  transition: background-color 0.5s ease;
}
.coming-soon-txtgroup button:hover {
  background-color: rgba(255,255,255,1.0);
  font-weight: 900;
}

@media screen and (max-width: 500px){
  .coming-soon-txtgroup h1 {
    margin-bottom: 20px;
    font-size: 1.3em;
  }
  .coming-soon-txtgroup span {
    font-size: 18px;
    font-weight: 200;
  }
  .coming-soon-txtgroup button {
    margin-top: 40px;
    border-radius: 40px;
    padding: 15px 40px 15px 40px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.8);
  }
}